In [55]:
import numpy as np
import pandas as pd

file_path = 'C:/Users/hp/Desktop/Python Practice/clean_boulder_weather.csv'


df = pd.read_csv(file_path)

In [41]:
df.head(10)
set(df["NAME"])
df["NAME"].unique()

array(['BOULDER 14 W, CO US', 'GROSS RESERVOIR, CO US',
       'SUGARLOAF COLORADO, CO US', 'NIWOT, CO US', 'BOULDER, CO US',
       'RALSTON RESERVOIR, CO US', 'NORTHGLENN, CO US'], dtype=object)

In [56]:
dfNiwot = df[df["NAME"]=="NIWOT, CO US"]
dfNiwot.head()

        STATION          NAME        DATE  PRCP  TMAX  TMIN
93  USS0005J42S  NIWOT, CO US  2017-07-01   0.0  69.0  32.0
94  USS0005J42S  NIWOT, CO US  2017-07-02   0.0  73.0  37.0
95  USS0005J42S  NIWOT, CO US  2017-07-03   0.0  68.0  47.0
96  USS0005J42S  NIWOT, CO US  2017-07-04   0.1  70.0  41.0
97  USS0005J42S  NIWOT, CO US  2017-07-05   0.0  74.0  40.0

In [57]:
minval = dfNiwot["TMAX"].min()
maxval = dfNiwot["TMAX"].max()
Q1 = dfNiwot["TMAX"].quantile(0.25)
Q2 = dfNiwot["TMAX"].quantile(0.50)
Q3 = dfNiwot["TMAX"].quantile(0.75)
print("5-Number Summary: {:.2f}    {:.2f}    {:.2f}    {:.2f}    {:.2f}".format(minval, Q1, Q2, Q3, maxval))

5-Number Summary: 54.00    66.50    70.00    74.00    80.00

In [58]:
dfNiwot["TMAX"].describe()

count    31.000000
mean     69.838710
std       5.621962
min      54.000000
25%      66.500000
50%      70.000000
75%      74.000000
max      80.000000
Name: TMAX, dtype: float64

In [59]:
dfNiwot.loc[:,"TMAX+3"] = (3) + (dfNiwot.loc[:,"TMAX"])
dfNiwot.loc[:,"TMAX*3"] = (3) * (dfNiwot.loc[:,"TMAX"])

c:\Users\hp\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [60]:
dfNiwot.head()

        STATION          NAME        DATE  PRCP  TMAX  TMIN  TMAX+3  TMAX*3
93  USS0005J42S  NIWOT, CO US  2017-07-01   0.0  69.0  32.0    72.0   207.0
94  USS0005J42S  NIWOT, CO US  2017-07-02   0.0  73.0  37.0    76.0   219.0
95  USS0005J42S  NIWOT, CO US  2017-07-03   0.0  68.0  47.0    71.0   204.0
96  USS0005J42S  NIWOT, CO US  2017-07-04   0.1  70.0  41.0    73.0   210.0
97  USS0005J42S  NIWOT, CO US  2017-07-05   0.0  74.0  40.0    77.0   222.0

In [62]:
dfNiwot["TMAX+3"].describe()

count    31.000000
mean     72.838710
std       5.621962
min      57.000000
25%      69.500000
50%      73.000000
75%      77.000000
max      83.000000
Name: TMAX+3, dtype: float64

In [63]:
dfNiwot["TMAX*3"].describe()

count     31.000000
mean     209.516129
std       16.865885
min      162.000000
25%      199.500000
50%      210.000000
75%      222.000000
max      240.000000
Name: TMAX*3, dtype: float64

In [66]:
dfNiwot.loc[:,"TMAX-C"] = (5/9)*(dfNiwot.loc[:,"TMAX"] - 32)
dfNiwot.loc[:,"TMIN-C"] = (5/9)*(dfNiwot.loc[:,"TMIN"] - 32)

c:\Users\hp\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
c:\Users\hp\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [67]:
dfNiwot.head()

,STATION,NAME,DATE,PRCP,TMAX,TMIN,TMAX+3,TMAX*3,TMAX-C,TMIN-C
93,USS0005J42S,"NIWOT, CO US",2017-07-01,0.0,69.0,32.0,72.0,207.0,20.555556,0.000000
94,USS0005J42S,"NIWOT, CO US",2017-07-02,0.0,73.0,37.0,76.0,219.0,22.777778,2.777778
95,USS0005J42S,"NIWOT, CO US",2017-07-03,0.0,68.0,47.0,71.0,204.0,20.000000,8.333333
96,USS0005J42S,"NIWOT, CO US",2017-07-04,0.1,70.0,41.0,73.0,210.0,21.111111,5.000000
97,USS0005J42S,"NIWOT, CO US",2017-07-05,0.0,74.0,40.0,77.0,222.0,23.333333,4.444444

In [68]:
dfNiwot["TMAX-C"].describe()

count    31.000000
mean     21.021505
std       3.123312
min      12.222222
25%      19.166667
50%      21.111111
75%      23.333333
max      26.666667
Name: TMAX-C, dtype: float64

In [69]:
dfNiwot["TMIN-C"].describe()

count    31.000000
mean      6.415771
std       2.235326
min       0.000000
25%       5.000000
50%       6.666667
75%       8.333333
max      11.111111
Name: TMIN-C, dtype: float64

In [70]:
dfNiwot.loc[:,"TDIFF"] = dfNiwot.loc[:,"TMAX"] - dfNiwot.loc[:,"TMIN"]

c:\Users\hp\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [71]:
dfNiwot.head()

,STATION,NAME,DATE,PRCP,TMAX,TMIN,TMAX+3,TMAX*3,TMAX-C,TMIN-C,TDIFF
93,USS0005J42S,"NIWOT, CO US",2017-07-01,0.0,69.0,32.0,72.0,207.0,20.555556,0.000000,37.0
94,USS0005J42S,"NIWOT, CO US",2017-07-02,0.0,73.0,37.0,76.0,219.0,22.777778,2.777778,36.0
95,USS0005J42S,"NIWOT, CO US",2017-07-03,0.0,68.0,47.0,71.0,204.0,20.000000,8.333333,21.0
96,USS0005J42S,"NIWOT, CO US",2017-07-04,0.1,70.0,41.0,73.0,210.0,21.111111,5.000000,29.0
97,USS0005J42S,"NIWOT, CO US",2017-07-05,0.0,74.0,40.0,77.0,222.0,23.333333,4.444444,34.0

In [72]:
dfNiwot["TDIFF"].describe()

count    31.000000
mean     26.290323
std       6.330843
min      10.000000
25%      23.000000
50%      27.000000
75%      30.500000
max      37.000000
Name: TDIFF, dtype: float64

In [73]:
dfNiwot["TMAX"].mean() - dfNiwot["TMIN"].mean()

26.290322580645167